<div class='wrapper-flex recipe-details'>
  <h2 class="header-center-self">Shopping List</h2>
  <div class='shopping_list flex'>
    <p>Amount of food items to buy:<span> <strong><%= @food_count %></strong></span></p>
    <p>Total value of item needed:<span> <strong>$ <%= @sum %></strong></span></p>
  </div>

  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">Food</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <% @foods.each do |food| %>
         <%#if current_user == food.user%>
          <tr>
            <td> <%= food.name %> </td>
            <td> <%= food.quantity %>   <%= food.measurement_unit  %></td>
            <td> $ <%= food.price * food.quantity.to_i %> </td>  
          </tr>
         <%#end%>
      <% end %>
    </tbody>
  </table>
 </div>
